body {
    background-color: rgb(31, 40, 51);
    color: rgb(102, 252, 241);  
    font-family: 'Heebo', sans-serif;
}

.homeimg {
    width: 100%;
    height: auto;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section {
    padding: 10px 10px;
    background-color: rgb(11, 12, 16);
    max-width: 80%;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.flashmsg{
    display: flex;
    gap: 10px;
    background-color: rgb(31, 40, 51);
    padding: 5px;
    justify-content: center;
}

.closebtn {
    background: none;
    border: none;
    cursor: pointer;
}

.closeicon {
    background: none;
    border: none;
    color: red;
    font-size: 18px;
}

.homeheader {
    font-size: 30px;
    text-align: center;
}

.homeh1, .homeh2, .homeh3{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(102, 252, 241);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.fheroes, .pheroes, .fcont {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding-bottom: 20px;
}

.fcont {
    gap: 100px;
}

.fa-circle-user {
    font-size: 50px;
}

.featureduser {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fheroimg, .pheroimg {
    max-width: 300px;
}

@media (max-width: 1290px) {
    .fheroes, .pheroes, .fcont {
      flex-direction: column;
      align-items: center;
    }

  }

footer {
    font-size: 15px;
    background-color: rgb(11, 12, 16);
    text-align: center;
    margin-top: 10px;
}

/* hero pool grid */
.gridheader {
    display: flex;   
    gap: 10px;
}

.imggrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(293px,200px));
    grid-template-columns: repeat(auto-fit, minmax(min(293px,100%), 1fr));
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.gridimg {
    display: grid;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
}

.text {
    position: absolute;
    bottom:0;
    font-size: larger;
    color: white;
}

.attr {
    position: absolute;
    right:0;
    bottom: 0;
}

.overlay {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.container:hover .overlay {
    opacity: 1;
}
/*  */

/* Drop Down Sort Menu */

.dropbtn {
    /* rgb(111, 219, 219) */
    background-color: rgb(31, 40, 51);
    color: rgb(111, 219, 219);
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(111, 219, 219);
    color: rgb(31, 40, 51);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(31, 40, 51);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(111, 219, 219);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
    .dropdown a:hover {
    background-color: rgb(111, 219, 219);
    color: rgb(31, 40, 51);
}
  
  .show {display: block;}

/*  */

/* item pool grid */
.itemtype {
    border-bottom: solid;
    width: 95%;
}

.imggridheader {
    border-style: solid;
    border-color: aqua;
}

.itemimggrid {
    display: grid;
    justify-content: left;
    align-items: left;
    grid-template-columns: repeat(auto-fit, minmax(100px,100px));
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.itemgridimg {
    display: grid;
    width: 100%;
}

.itemgridcontainer {
    position: relative;
    width: 100%;
}

.itemgridtext {
    position: absolute;
    bottom:0;
    font-size: smaller;
    color: white;
}

.itemoverlay {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.itemgridcontainer:hover .itemoverlay {
    opacity: 1;
}
/*  */

.herotitle {
    font-size: 35px;
    padding-bottom: 10px;
}

.itemcontainer {
    border-bottom: solid;
}

.iteminfo {
    display: flex;
    gap: 40px;
}

.itemabilitycontainter{
    display: flex;
    gap: 10px;
   
}

.itemability {
    width: 300px;
}

.infocontainer {
    border-right: solid;
}

.infotitle {
    margin-right: 70px;
}

.itemcost{
    display: flex;
    gap: 5px;
}

.itemnotescontainer{
    margin-top: 10px;
    height: 300px;
}

.notescontainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.itemusernote {
    width: 90%;
}

.heroinfo {
    display: flex;
    gap: 40px;
    border-bottom: solid;
    padding-bottom: 30px;
}

 .himg {
    min-width: 30%;  
    height: auto;
}

.attribute {
    width: 35px;
}

.attricont {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heroimgcontainer {
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.healthandmana {
    display: flex;   
    font-weight: bold;
}

.healthbar {
    color: white;
    background-color: rgb(114, 177, 19);
    width: 50%;
    text-align: center; 
}

.manabar {
    color: white;
    background-color: rgb(111, 219, 219);
    width: 50%;
    text-align: center;
}

.attributescontainer, .rolescontainer, .lanescontainer, .statscontainer {
    padding-right: 50px;
    border-right: solid;
    font-weight: bold;
}

.extracontainer {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attributes{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    font-weight: bold;
}

.attributeicons{
    width:40px;
    height: auto;
}

@media (max-width: 1600px) {
    .heroinfo {
      flex-direction: column;
      justify-content: center;
    }
    .heroimgcontainer {
        max-width: 500px;
    }
    .attributescontainer, .rolescontainer, .lanescontainer, .statscontainer, .extracontainer {
        border-right: none;
        border-bottom: solid;
    }

    .abilities{
        flex-direction: column;
        height: 600px;
    }

  }


.heroabilities {
    margin-top: 10px;
    margin-bottom: 10px;
}

.abilities {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.abilitynote {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.notesheader {
    display: flex;
    gap: 89%;
}

.iconanddesc {
    display: flex;
    gap: 5px;
}

.abilitysection1 {
    border-right: solid;
    margin-right: 10px;
}

.abilitydescription{
    width: 475px;
    font-size: 15px;
}

.valuescontainer {
    display: flex;
    flex-direction: column;
   
}

.cooldowncontainer, .manacontainer {
    display: flex;
    width: 50%;
    align-items: center;
    font-size: medium;
    gap: 5px;
}

.mana {
    width: 16px;
    height: 16px;
    background-color: aqua;
    border-radius: 2px;
}

.cooldown {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.abilitysection1 {
    display: flex;
    flex-direction: column;
}

.heroabilities {
    margin-top: 10px;
    position: relative;
    overflow-y: auto;
    height: 600px;
}

.abilityuserinfo, .itemrecforinfo, .itemrecagainstinfo {
    width: 89%;
}

.counterstitle, .itemstitle, .abilitiestitle {
    display: inline-block;
}

.fa-eye {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.fa-eye:hover {
    color: #adb2ba;
}

.abilityinfocontiner {
    width: 100%;
    
}

.countertocontainer, .counteredbycontainer, .heroitemsfor, .heroitemsagainst, .itembuyfortitle, .itembuyagainsttitle, .itemrecfor, .itemrecagainst, .abilityinfocontiner, .itemnotescontainer {
    margin-top: 10px;
    position: relative;
    overflow-y: auto;
    height: 400px;
}

.countertotitle, .counteredbytitle, .itemfortitle, .itemagainsttitle, .itemrecfortitle, .itemrecagainsttitle {
    border-bottom: solid;
    border-color: aqua;
    padding-top: 10px;
}

.counterinfoblock, .itemsinfoblock, .itemrecforblock, .itemrecagainstblock {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.countertext {
    width: 76%;
}

.itemsfortext, .itemsagainsttext{
    width: 87%;
}

.fa-thumbs-up, .fa-thumbs-down {
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.fa-thumbs-up:hover {
    color: greenyellow;
    transition: 0.4s;
}

.fa-thumbs-down:hover {
    color: red;
    transition: 0.4s;
}

.addabilitybutton {
    float: right;
    color: rgb(102, 252, 241);
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.addabilitybutton.fa-circle-minus:hover {
    color: red;
    transition: 0.4s;
}

.fa-circle-plus:hover {
    color: greenyellow;
    transition: 0.4s;
}

.countertoname, .counteredbyname, .itemforname, .itemagainstname {
    cursor: pointer;
    vertical-align: top;
    font-family: 'Heebo', sans-serif;
    border-radius: 5px;
    border-color: rgb(102, 252, 241);
    background-color: rgb(31, 40, 51);
    color: rgb(102, 252, 241);
}

.countertoinfo, .counteredbyinfo, .itemforinfo, .itemagainstinfo, .abilityinfoinput, .iteminfoinput {
    resize: none;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    border-color: rgb(102, 252, 241);
    background-color: rgb(31, 40, 51);
    color: rgb(102, 252, 241);
    font-family: 'Heebo', sans-serif;
}

.addabilityinfo {
    display: none;
}

.countertosubmit, .counteredbysubmit, .itemforsubmit, .itemagainstsubmit, .abilityinfosubmit, .iteminfosubmit {
    cursor: pointer;
    vertical-align: top;
    background-color: rgb(31, 40, 51);
    color: rgb(102, 252, 241);
    border-radius: 5px;
    border-color: rgb(102, 252, 241);
    width: 60px;
    font-family: 'Heebo', sans-serif;
}

.counterupvote, .counterdownvote, .counteredupvote, .countereddownvote, .itemforupvote, .itemfordownvote, .itemagainstupvote, .itemagainstdownvote, .abilityupvote, .abilitydownvote, .itemupvote, .itemdownvote {
    background: none;
    padding: 0px;
    border: none;
}

.opendeleteform {
    font-size: 20px;
    background: none;
    border-style: none;
    color: white;
    cursor: pointer;
}

.opendeleteform:hover {
    color: red;
    transition: 0.4s;
}

.formpopup {
    display: none;
    text-align: center;
}

.btn {
    background-color: rgb(31, 40, 51);
    color: rgb(111, 219, 219);
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 80px;
}

.cancel:hover {
    color: black;
    background-color: red;
}

.confirm:hover {
    color: black;
    background-color: greenyellow;
}

.heroitems {
    margin-top: 10px;
    border-style: solid;
    border-color: aqua;
}

.itemtitle {
    font-size: 35px;
    padding-bottom: 10px;
}

.itemimg {
    width: 200px;
    height: auto;
    resize: none;
}

.login, .register {
    width: 400px;
    background-color: rgb(11, 12, 16);
    box-shadow: 0 0 9px 0 rgb(31, 40, 51);
    margin: 100px auto;
}
.login h1, .register h1 {
    text-align: center;
    color: rgb(102, 252, 241);
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(102, 252, 241);
}
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}
.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: white;
}
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid rgb(102, 252, 241);
    color: rgb(102, 252, 241);
}
.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: rgb(102, 252, 241);
    transition: background-color 0.2s;
}

/* SCROLLBAR */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(102, 252, 241) rgb(31, 40, 51);
}
  
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: rgb(31, 40, 51);
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(102, 252, 241);
    border-radius: 20px;
    border: 3px solid rgb(31, 40, 51);
}

.errorcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 200px;
}

.errortitle {
    text-align: center;
}

.errortext {
    text-align: center;
}

.errorbtn {
    align-self: center;
    width: fit-content;
    padding: 10px;
    color: rgb(102, 252, 241);
    background-color: rgb(31, 40, 51);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.errorbtn:hover {
    color: rgb(31, 40, 51);
    background-color: rgb(102, 252, 241);
}