body {
    background-color: rgb(31, 40, 51);
    color: rgb(102, 252, 241);  
    font-family: 'Heebo', sans-serif;
}

.homeimg {
    width: 100%;
    height: auto;
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section {
    padding: 10px 10px;
    background-color: rgb(11, 12, 16);
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.homeh1, .homeh2, .homeh3{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(102, 252, 241);
    text-align: center;
    padding: 10px 10px;
}

.fcont{
    float: right;
    height: auto;
    max-width: 100px;
    border-style: solid;
    border-color: aqua;
}

.fheroes{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 400px;
    border-style: solid;
    border-color: aqua;
}

.pheroes{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 20%;
    border-style: solid;
    border-color: aqua;
}

footer {
    font-size: 15px;
    background-color: rgb(11, 12, 16);
    text-align: center;
    margin-top: 10px;
}

.gridheader {
    border-style: solid;
    border-color: aqua;
}

.imggrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px,200px));
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.gridimg {
    display: grid;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
}

.text {
    position: absolute;
    bottom:0;
    font-size: larger;
    color: white;
}

.attr {
    position: absolute;
    right:0;
    bottom: 0;
}

.overlay {
    position: absolute;
    font-weight: bold;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
}

.container:hover .overlay {
    opacity: 1;
}

.heroinfo {
    border-style: solid;
    border-color: aqua;
}

.himg {
    width: 20%;  

    height: auto;
    border-radius: 5px;
}

.herotitle{
    display: inline-block;
    vertical-align: top;
    color: rgb(102, 252, 241);  
}

.heroabilities {
    margin-top: 10px;
    border-style: solid;
    border-color: aqua;
}

.counterstitle {
    display: inline-block;
}

.fa-eye {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.fa-eye:hover {
    color: #adb2ba;
}

.herocounterto, .herocounteredby {
    margin-top: 10px;
    border-style: solid;
    border-color: aqua;
    position: relative;
}

.counterinfoblock {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fa-thumbs-up, .fa-thumbs-down {
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.fa-thumbs-up:hover {
    color: greenyellow;
    transition: 0.4s;
}

.fa-thumbs-down:hover {
    color: red;
    transition: 0.4s;
}

.fa-circle-plus {
    float: right;
    color: rgb(102, 252, 241);
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.fa-circle-plus:hover {
    color: greenyellow;
    transition: 0.4s;
}

.countertoname {
    cursor: pointer;
    vertical-align: top;
}

.countertoinfo {
    resize: none;
    width: 80%;
    height: 100px;
}

.countertosubmit {
    cursor: pointer;
    vertical-align: top;
}

.counteredbyname {
    cursor: pointer;
    vertical-align: top;
}

.counteredbyinfo {
    resize: none;
    width: 80%;
    height: 100px;
}

.counteredbysubmit {
    cursor: pointer;
    vertical-align: top;
}

.upvote, .downvote {
    background: none;
    padding: 0px;
    border: none;
  }

.heroitems {
    margin-top: 10px;
    border-style: solid;
    border-color: aqua;
}

.heroclips {
    margin-top: 10px;
    border-style: solid;
    border-color: aqua;
}

.login, .register {
    width: 400px;
    background-color: rgb(11, 12, 16);
    box-shadow: 0 0 9px 0 rgb(31, 40, 51);
    margin: 100px auto;
}
.login h1, .register h1 {
    text-align: center;
    color: rgb(102, 252, 241);
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(102, 252, 241);
}
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}
.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: white;
}
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid rgb(102, 252, 241);
    color: rgb(102, 252, 241);
}
.login form, .register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: rgb(102, 252, 241);
    transition: background-color 0.2s;
}
