<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="static/images/logo4.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style1.css') }}">
    <title>Heroes</title>
</head>
<body>
    {% include 'navbar.html' %}
    <section class="section">  
        <section class="gridheader">
            
        </section>
        <div class="imggrid">
            <div class="container">
                <a href="/abaddon"><img src="static/images/heroes/abaddon.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    <div class="text">Abaddon</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/alchemist"><img src="static/images/heroes/alchemist.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Alchemist</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/ancientapparition"><img src="static/images/heroes/ancient_apparition.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Ancient Apparition</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/antimage"><img src="static/images/heroes/antimage.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Anti-Mage</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/arcwarden"><img src="static/images/heroes/arc_warden.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Arc Warden</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/axe"><img src="static/images/heroes/axe.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Axe</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/bane"><img src="static/images/heroes/bane.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Bane</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/batrider"><img src="static/images/heroes/batrider.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Batrider</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/beastmaster"><img src="static/images/heroes/beastmaster.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Beastmaster</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/bloodseeker"><img src="static/images/heroes/bloodseeker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Bloodseeker</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/bountyhunter"><img src="static/images/heroes/bounty_hunter.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Bounty Hunter</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/brewmaster"><img src="static/images/heroes/brewmaster.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Brewmaster</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/bristleback"><img src="static/images/heroes/bristleback.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Bristleback</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/broodmother"><img src="static/images/heroes/broodmother.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Broodmother</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/centaur"><img src="static/images/heroes/centaur.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Centaur Warrunner</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/chaosknight"><img src="static/images/heroes/chaos_knight.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Chaos Knight</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/chen"><img src="static/images/heroes/chen.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Chen</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/clinkz"><img src="static/images/heroes/clinkz.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Clinkz</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/clockwerk"><img src="static/images/heroes/clockwerk.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Clockwerk</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/crystalmaiden"><img src="static/images/heroes/crystal_maiden.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Crystal Maiden</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/darkseer"><img src="static/images/heroes/dark_seer.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Dark Seer</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/darkwillow"><img src="static/images/heroes/dark_willow.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Dark Willow</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/dawnbreaker"><img src="static/images/heroes/dawnbreaker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Dawnbreaker</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/dazzle"><img src="static/images/heroes/dazzle.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Dazzle</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/deathprophet"><img src="static/images/heroes/death_prophet.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Death Prophet</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/disruptor"><img src="static/images/heroes/disruptor.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Disruptor</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/doom"><img src="static/images/heroes/doom.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Doom</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/dragonknight"><img src="static/images/heroes/dragon_knight.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Dragon Knight</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/drowranger"><img src="static/images/heroes/drow_ranger.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Drow Ranger</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/earthspirit"><img src="static/images/heroes/earth_spirit.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Earth Spirit</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/earthshaker"><img src="static/images/heroes/earthshaker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Earthshaker</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/eldertitan"><img src="static/images/heroes/elder_titan.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Elder Titan</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/emberspirit"><img src="static/images/heroes/ember_spirit.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Ember Spirit</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/enchantress"><img src="static/images/heroes/enchantress.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Enchantress</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/enigma"><img src="static/images/heroes/enigma.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Enigma</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/facelessvoid"><img src="static/images/heroes/faceless_void.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Faceless Void</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/grimstroke"><img src="static/images/heroes/grimstroke.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Grimstroke</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/gyrocopter"><img src="static/images/heroes/gyrocopter.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Gyrocopter</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/hoodwink"><img src="static/images/heroes/hoodwink.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Hoodwink</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/huskar"><img src="static/images/heroes/huskar.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Huskar</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/invoker"><img src="static/images/heroes/invoker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Invoker</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/io"><img src="static/images/heroes/io.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Io</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/jakiro"><img src="static/images/heroes/jakiro.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Jakiro</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/juggernaut"><img src="static/images/heroes/juggernaut.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Juggernaut</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/keeperofthelight"><img src="static/images/heroes/keeper_of_the_light.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Keeper of the Light</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/kunkka"><img src="static/images/heroes/kunkka.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Kunkka</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/legioncommander"><img src="static/images/heroes/legion_commander.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Legion Commander</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/leshrac"><img src="static/images/heroes/leshrac.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Leshrac</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/lich"><img src="static/images/heroes/lich.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Lich</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/lifestealer"><img src="static/images/heroes/life_stealer.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Lifestealer</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/lina"><img src="static/images/heroes/lina.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Lina</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/lion"><img src="static/images/heroes/lion.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Lion</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/lonedruid"><img src="static/images/heroes/lone_druid.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Lone Druid</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/luna"><img src="static/images/heroes/luna.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Luna</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/lycan"><img src="static/images/heroes/lycan.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Lycan</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/magnus"><img src="static/images/heroes/magnus.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Magnus</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/marci"><img src="static/images/heroes/marci.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Marci</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/mars"><img src="static/images/heroes/mars.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Mars</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/medusa"><img src="static/images/heroes/medusa.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Medusa</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/meepo"><img src="static/images/heroes/meepo.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Meepo</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/mirana"><img src="static/images/heroes/mirana.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Mirana</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/monkeyking"><img src="static/images/heroes/monkey_king.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Monkey King</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/morphling"><img src="static/images/heroes/morphling.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Morphling</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/nagasiren"><img src="static/images/heroes/naga_siren.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Naga Siren</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/naturesprophet"><img src="static/images/heroes/natures_prophet.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Nature's Prophet</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/necrophos"><img src="static/images/heroes/necrophos.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Necrophos</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/nightstalker"><img src="static/images/heroes/night_stalker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Night Stalker</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/nyxassassin"><img src="static/images/heroes/nyx_assassin.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Nyx Assassin</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/ogremagi"><img src="static/images/heroes/ogre_magi.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Ogre Magi</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/omniknight"><img src="static/images/heroes/omniknight.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Omniknight</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/oracle"><img src="static/images/heroes/oracle.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Oracle</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/outworlddestroyer"><img src="static/images/heroes/outworld_destroyer.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Outworld Destroyer</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/pangolier"><img src="static/images/heroes/pangolier.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Pangolier</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/phantomassassin"><img src="static/images/heroes/phantom_assassin.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Phantom Assassin</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/phantomlancer"><img src="static/images/heroes/phantom_lancer.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Phantom Lancer</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/phoenix"><img src="static/images/heroes/phoenix.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Phoenix</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/primalbeast"><img src="static/images/heroes/primal_beast.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Primal Beast</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/puck"><img src="static/images/heroes/puck.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Puck</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/pudge"><img src="static/images/heroes/pudge.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Pudge</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/pugna"><img src="static/images/heroes/pugna.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Pugna</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/queenofpain"><img src="static/images/heroes/queenofpain.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Queen of Pain</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/razor"><img src="static/images/heroes/razor.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Razor</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/riki"><img src="static/images/heroes/riki.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Riki</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/rubick"><img src="static/images/heroes/rubick.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Rubick</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/sandking"><img src="static/images/heroes/sand_king.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Sand King</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/shadowdemon"><img src="static/images/heroes/shadow_demon.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Shadow Demon</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/shadowfiend"><img src="static/images/heroes/shadow_fiend.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Shadow Fiend</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/shadowshaman"><img src="static/images/heroes/shadow_shaman.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Shadow Shaman</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/silencer"><img src="static/images/heroes/silencer.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Silencer</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/skywrathmage"><img src="static/images/heroes/skywrath_mage.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Skywrath Mage</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/slardar"><img src="static/images/heroes/slardar.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Slardar</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/slark"><img src="static/images/heroes/slark.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Slark</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/snapfire"><img src="static/images/heroes/snapfire.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Snapfire</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/sniper"><img src="static/images/heroes/sniper.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Sniper</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/spectre"><img src="static/images/heroes/spectre.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Spectre</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/spiritbreaker"><img src="static/images/heroes/spirit_breaker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Spirit Breaker</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/stormspirit"><img src="static/images/heroes/storm_spirit.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Storm Spirit</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/sven"><img src="static/images/heroes/sven.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Sven</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/techies"><img src="static/images/heroes/techies.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Techies</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/templarassassin"><img src="static/images/heroes/templar_assassin.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Templar Assassin</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/terrorblade"><img src="static/images/heroes/terrorblade.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Terrorblade</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/tidehunter"><img src="static/images/heroes/tidehunter.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Tidehunter</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/timbersaw"><img src="static/images/heroes/timbersaw.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Timbersaw</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/tinker"><img src="static/images/heroes/tinker.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Tinker</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/tiny"><img src="static/images/heroes/tiny.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Tiny</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/treantprotector"><img src="static/images/heroes/treant.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Treant Protector</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/trollwarlord"><img src="static/images/heroes/troll_warlord.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Troll Warlord</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/tusk"><img src="static/images/heroes/tusk.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Tusk</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/underlord"><img src="static/images/heroes/underlord.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Underlord</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/undying"><img src="static/images/heroes/undying.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Undying</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/ursa"><img src="static/images/heroes/ursa.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Ursa</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/vengefulspirit"><img src="static/images/heroes/vengefulspirit.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Vengeful Spirit</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/venomancer"><img src="static/images/heroes/venomancer.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Venomancer</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/viper"><img src="static/images/heroes/viper.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Viper</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/visage"><img src="static/images/heroes/visage.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Visage</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/voidspirit"><img src="static/images/heroes/void_spirit.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Void Spirit</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/warlock"><img src="static/images/heroes/warlock.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Warlock</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/weaver"><img src="static/images/heroes/weaver.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Weaver</div>
                    <img src="static/images/agility.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/windranger"><img src="static/images/heroes/windranger.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Windranger</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/winterwyvern"><img src="static/images/heroes/winter_wyvern.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Winter Wyvern</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/witchdoctor"><img src="static/images/heroes/witch_doctor.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Witch Doctor</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/wraithking"><img src="static/images/heroes/wraith_king.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Wraith King</div>
                    <img src="static/images/strength.png" alt="attr" class="attr">
                </div>
            </div>
            <div class="container">
                <a href="/zeus"><img src="static/images/heroes/zeus.png" alt="gridimg" class="gridimg"></a>
                <div class="overlay">
                    </a><div class="text">Zeus</div>
                    <img src="static/images/intelligence.png" alt="attr" class="attr">
                </div>
            </div>
        </div>
    </section>
    <footer>
    <p>Footer</p>
    </footer>
</body>
</html>