<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo4.png' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style1.css') }}">
    <title>Login</title>
</head>
<body>
    {% include 'navbar.html' %}
    <section class="section">
       
        <div class="login">
			<h1>Login</h1>
        
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('register') }}">Register</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<input type="text" name="username" placeholder="Username" id="username" required autocomplete="off">
				<input type="password" name="password" placeholder="Password" id="password" required autocomplete="off">
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Login">
			</form>
		</div>
    </section>
    <footer>
    <p>DotaBase</p>
    </footer>
</body>
</html>