<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navstyle.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/navscript.js') }}"></script>
    <title>Navbar</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/home"><img title="Home" src="{{ url_for('static', filename='images/logo4.png') }}" alt="logo" class="logo"></a>
            <a href="#" class="togglebutton">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/heroes">Heroes</a></li>
                <li><a href="/items">Items</a></li>
            </ul>
            {% if session['username'] %}
                <a href="/logout" alt="logoutbutton" class="logoutbutton">logout</a>
                {% else %}
                <a href="/login" alt="loginbutton" class="loginbutton">Login</a>
            {% endif %}
        </nav>
    </header>
</body>
</html>
